<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#428bca">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <link rel="icon" type="image/png" sizes="16x16" href="<%= htmlWebpackPlugin.options.output.publicPath %>/assets/images/icons/favicon-16x16.png"/>
  <link rel="icon" type="image/png" sizes="32x32" href="<%= htmlWebpackPlugin.options.output.publicPath %>/assets/images/icons/favicon-32x32.png"/>
</head>

<body>
  <noscript>
    <div style="text-align: center;">
      Sorry but this page requires Javascript
    </div>
  </noscript>
  <div id="root"></div>

  <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.options.output.publicPath %><%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
    <% } %>

      <!-- Environment File, controlled by deployment -->
      <script type="text/javascript" src="<%= htmlWebpackPlugin.options.output.publicPath %>/<%= htmlWebpackPlugin.options.envFile %>?bust=<%= htmlWebpackPlugin.options.cacheBust %>"></script>

      <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
        <script src="<%= htmlWebpackPlugin.options.output.publicPath %><%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
        <% } %>

          <% if (htmlWebpackPlugin.options.devServer) { %>
            <script src="<%= htmlWebpackPlugin.options.output.publicPath %><%= htmlWebpackPlugin.options.devServer%>/webpack-dev-server.js"></script>
            <% } %>

</body>
</html>
